[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "vendor/simplelogger"]
	path = vendor/simplelogger
	url = https://github.com/pierrefourgeaud/SimpleLogger
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
