[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "vendor/simplelogger"]
	path = vendor/simplelogger
	url = https://github.com/pierrefourgeaud/SimpleLogger
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "vendor/bandit"]
	path = vendor/bandit
	url = https://github.com/banditcpp/bandit.git
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml.git
